{{#each blogging as |blogging|}}

  <div class="row">

    <div class="container blogBox">
			<div class="row  justify-content-center headerRow">
      <div class="col-8">
        <h2>
          <a class="blogTitle text-uppercase" href="/blog/{{blogging.id}}">{{blogging.title}}</a>
        </h2>
      </div>

      <div class="col-4">
        <p class="blogCreate text-right">Created by
          {{blogging.user.username}}
          on
          {{format_date blogging.date_created}}
        </p>
      </div>
			</div>
    <div class="blogDesc">
      <p class="text-center blogDescMain">
        {{blogging.description}}
      </p>
    </div>
    </div>

  </div>

{{/each}}